@use 'base/variables' as v;
@use 'base/mixins' as m;

.actions {
    margin-top: v.$separation;
    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    a{
        display: block;
        margin-bottom: calc(v.$separation / 2);
        text-align: center;
        color: white;


    }
}